<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.maciej_nowak.lwk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LWK2"
            android:label="@string/title_activity_lwk2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LWK3"
            android:label="@string/title_activity_lwk3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LWK4"
            android:label="@string/title_activity_lwk4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Presentation"
            android:label="@string/title_activity_presentation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App"
            android:label="@string/title_activity_app"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>